services:
  app:
    build: .
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 10
        window: 120s
    ports:
      - "5121:5121"
    networks:
      - static
    volumes:
      - instance:/app/instance
      - sites:/app/sites
    env_file: .env

networks:
  static:

volumes:
  instance:
  sites:
